@import "theme.css";
@import "normalize.css";
@import "forms.css";
@import "tables.css";

html {
  background-color: var(--background-color);
}

body {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 32px;
}

a {
  color: var(--secondary-color);
}

.inherit-color {
  color: inherit;
}

.card {
  flex-direction: column;
  justify-content: center;
  background-color: var(--surface-color);
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.187);
  height: min-content;
}

